html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column; 
}

main {
    padding-bottom: 54px;
}

h1 {
    text-align: center;
    font-size: 30px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 20px;
    font-size: 25px;
    padding: 0;
    
  }
  
nav li {
    color: inherit;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    display: inline;
    
  }
  
nav a {
    text-decoration: none;
    color: black;
  }

.photo {
    max-width: 400px;
    float: right;
    margin-right: 20px;
}

footer {
    color: white;
    text-align: center;
    background-color: rgb(60, 55, 122);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.content-achieve {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    align-items: center;
}

.text-block {
    grid-column: 1;
    margin-right: 30px;
}

.text-block>p {
    font-size: 18px;
    
}

.image-block-1 {
    grid-column: 2;
    margin-right: 30px;
}

.image-block-2 {
    grid-column: 3;
    margin-right: 30px; 
}

.photo-cont {
    max-width: 60%;
    float: right;
    margin-bottom: 20px;
}

main {
    margin-left: 15px;
}

p {
    font-size: 16px;
    
}

.qr {
    max-width: 250px;  
}

hr {
    width: 1000px;
    margin: 30px auto;
    border-width: 0 0 2px;
    color: rgb(12, 160, 245)
}

h2 {
    text-align: center;
}

.personal-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
}

.img>p {
    text-align: center;
    font-size: large;
}

.markers-1 {
	list-style-type: "📌";
}

.markers-2 {
    list-style-type: "✔️";
}

video {
    margin-right: 250px;
}

.experience {
    display: flex;
    flex-direction:column;
}

.stage {
    display: flex;
}

.date {
    width: 15%;
}

.pre-experience {
    display: flex;
}

.text {
    width: 50%;
}